header {
  display: flex;
  color: rgb(70, 70, 70);
  background-color: rgb(70, 70, 70);
  flex-flow: row wrap;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0px;
}

/* Header Styles */

.title{
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  background-color: aquamarine;
  flex: 1 0 30px;
  width: 25%;
  justify-content: flex-end;
  padding: 10px;
  
}

header nav {
  display: flex;
  width: 75%;
  justify-content: flex-end;
  margin:5px;
}

header ul {
  display: flex;
  list-style: none;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

header li {
  display: flex;
  color: aquamarine;
  margin: 4px;
}

.navlinks{
  text-align: center;
  color: aquamarine;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 2px solid aquamarine;
  margin: 1px;
}

.postheader{
  position: relative;
  height: 50rem;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  background-position: center;
  margin: 0px
}

.postheader::after{
  position: absolute;
  content:'Cool Subtitle Here';
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  background-color: aquamarine;
  left: 80%;
  bottom: 10%;
  padding: 15px;
}

/* Main Styles */

section {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

section h2 {
  text-align: right;
  float: left;
  font-size: 40px;
  width: 20%;
  margin-right: 10px;
}

section article {
  border-left: 4px solid black;
  padding: 10px;
  margin: 5px;
  width: 70%;
}

/* About Me Styles */

section p{
  margin: 20px;
}

/* Work Styles */

.card-container{
  display: flex;
  flex-flow: row wrap;
}

.big-card {
  position: relative;
  flex: 1 1 70%;
  height: 400px;
  width: 100%;
}

.small-card{
  position: relative;
  flex: 1 1 45%;
  height: 200px;
  width: 50%;
}

/* article figure::before{
  position: absolute;
  content:'';
  background-color: aquamarine;
  width: 20%;
  height: 3rem;
  padding: 10px;
  bottom: 20%;
} */

.content{
  position: absolute;
  bottom: 20%;
}

.picture{
  position: relative;
  flex: 1 1 10%;
  z-index: -1;
}

article figure{
  margin: 5px;
  display: flex;
  border: 5px solid aquamarine;
  background-size: cover;
  background-position: center;
  transition: box-shadow .25s;
  box-shadow: inset 0 0 0 1000px rgba(127,255,212,.2);
  /* background-image: url(https://placekitten.com/g/200/200) ;  */
}

article figure:hover{
  transition: box-shadow .25s;
  box-shadow: none;
}


/* Contact Me Styles */

section ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

section li{
  margin: 5px;
  border-bottom: 2px solid darkblue;
}

section a{
  text-decoration: none;
  color: darkblue;
}